@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* - - - - - 📌 VARIABLES */

:root {
  /* - - - - - fonts */
  --default-font: 'Ubuntu', sans-serif;

  /* - - - - - colors */
  --theme: #c3eb1e;
  --dark: #2e2e30; /* background */
  --light: #faf9f6; /* foreground */
  --gray: #8f8f8f; /* disabled */
  --blue-gray: #6272a4; /* accent */
  --blue: #1e76eb; /* hyperlink */
  --yellow: #fff600; /* highlight */
  --green: #50fa7b;
  --red: #ff5555;
  --purple: #bd93f9;
  --pink: #ff79c6;
  --orange: #ffb86c;
  --key-lime: #f1fa8c;
  --cyan: #8be9fd;

  /* - - - - - color variations */
  --theme--dark20: #9cbc18;
  --theme--light40: #dbf378;
  --theme--opacity40: #c3eb1e66;

  --blue-gray--dark20: #4e5b83;
  --blue-gray--light20: #818eb6;
  --blue-gray--opacity30: #6273a44d;
}

/* - - - - - 📌 SETUP */

.exc365GD-body,
.exc365GD-body .fullscreen {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
  font-family: var(--default-font);
}
.exc365GD-body.--light-mode,
.exc365GD-body .fullscreen.--light-mode {
  background: var(--light);
  color: var(--dark);
}

.exc365GD-body .layoutButtonsContainer {
  display: flex;
  gap: 0.75rem;
  top: 1rem;
  position: absolute;
  right: 1rem;
}

/* - - - - - 📌 TYPOGRAPHY */

.exc365GD-body h1 {
  color: var(--theme);
}
.exc365GD-body h2 {
  border-bottom-color: var(--theme);
}

.exc365GD-body .--highlight {
  background: var(--theme--opacity40);
}

.exc365GD-body .layoutButton svg {
  fill: var(--light);
}

.exc365GD-body .largeButton {
  color: var(--light);
}
.exc365GD-body .largeButtonIcon {
  fill: var(--light);
}

.exc365GD-body .pageFooter .title {
  color: var(--theme);
}

.exc365GD-body .button {
  background: var(--blue-gray);
}

.exc365GD-body .codeLine {
  background: var(--blue-gray--opacity30);
}

/* - - - - - 📌 @MEDIA */

@media (hover: hover) and (pointer: fine) {
  .exc365GD-body .button:hover {
    background: var(--blue-gray--light20);
  }
}

@media (max-width: 767px) {
  .exc365GD-body .layoutButtonsContainer {
    top: 2.5rem;
  }
}
