@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* - - - - - 📌 VARIABLES */

:root {
  --headings-font: 'Sora', sans-serif;
  --body-font: 'Source Sans 3', sans-serif;
  --mono-font: 'Fira Code', monospace;

  --midnightBlack: #1a1a1a;
  --cloud-white: #f5f5f5;

  --fg: var(--cloud-white);
  --bg: var(--midnightBlack);

  --soft-shadow: 2px 2px 2px #0000004d;
}

/* - - - - - 📌 SETUP */

html {
  font-size: 16px;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#root,
.fullscreen {
  max-width: 60rem;
  min-height: 100vh;
  margin: 0 auto;
}

.fullscreen.fullscreen-enabled {
  overflow: auto;
  padding-top: 2rem;
}

/* - - - - - 📌 TYPOGRAPHY */

h1,
h2,
h3 {
  font-family: var(--headings-font);
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 0.3pt;
}
h1 {
  font-size: xx-large;
}
h2 {
  width: fit-content;
  font-size: x-large;
  border-bottom: 1px dashed;
}
h3 {
  width: fit-content;
  font-size: 1.4rem;
  border-bottom: double;
  padding-top: 1rem;
}

p {
  font-size: large;
  text-align: justify;
  margin-bottom: 1rem;
}
p.--bulleted::before {
  content: '⇢';
  padding-right: 0.5rem;
}
.subheading {
  text-transform: uppercase;
  position: relative;
  bottom: 1rem;
  font-size: larger;
  font-weight: 300;
  margin-bottom: -0.5rem;
}

/* - - - - - 📌 LAYOUT */

.layoutContainer {
  width: 100%;
  max-width: 60rem;
  padding: 2rem 2rem 0 2rem;
}

.layoutButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.layoutButton svg {
  width: 1rem;
  height: 1rem;
}

.largeButtonContainer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.largeButton {
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.largeButtonIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.imageContainer {
  max-width: 100%;
  width: fit-content;
  padding: 0.5rem 2rem 1.5rem 2rem;
  margin: 0 auto;
}

.pageFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageFooter p {
  padding: 0 2rem;
  text-align: center;
  margin: unset;
}
.pageFooter .title {
  text-transform: uppercase;
  margin-right: 0.25rem;
}
.pageFooter .copyright {
  font-size: medium;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: var(--soft-shadow);
}

.codeLine {
  margin-bottom: 1.5rem;
  padding: 0.25rem 1rem;
  font-family: var(--mono-font);
  opacity: 0.9;
}

img {
  max-width: 100%;
}

/* - - - - - 📌 AUX */

.wrapper {
  width: fit-content;
}

.doubleDivider {
  height: 0.5rem;
  border-bottom: 1px dashed;
  border-top: 1px solid;
}

.dashedDivider {
  height: 1px;
  border-bottom: 1px dashed;
}

.verticalSpacer {
  height: 1rem;
}

.verticalSpacer--sm {
  height: 0.5rem;
}

.--paddingLeft {
  padding-left: 1.5rem;
}

/* - - - - - 📌 @MEDIA */

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: translateY(1px);
    box-shadow: none;
  }
}

/* mobile */

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  p {
    text-align: left;
  }

  .layoutContainer {
    padding: 1rem 1.5rem 0;
  }

  .imageContainer {
    padding: 0.5rem 0 1.5rem 0;
  }
}
