@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Sora:wght@100..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* - - - - - 📌 VARIABLES */

:root {
  --headings-font: 'Sora', sans-serif;
  --body-font: 'Source Sans 3', sans-serif;
  --mono-font: 'Fira Code', monospace;

  --midnightBlack: #1a1a1a;
  --cloudWhite: #f5f5f5;
  --azureBlue: #348ae4;
  --deepAzure: #2b6cb0;
  --turquoise: #40e0d0;
  --forestTeal: #1f7d74;
  --brickRed: #cc3d25;
  --burntOrange: #d87a15;
  --amberYellow: #d4b400;
  --emeraldGreen: #28a745;

  --fg: var(--cloudWhite);
  --bg: var(--midnightBlack);

  --accentPrimary: var(--azureBlue);
  --accentSecondary: var(--turquoise);
  --accentPrimaryDeep: var(--deepAzure);
  --accentSecondaryDeep: var(--forestTeal);

  --alertFail: var(--brickRed);
  --alertWarning: var(--burntOrange);
  --alertInfo: var(--amberYellow);
  --alertSuccess: var(--emeraldGreen);

  --higlightBg: color-mix(in srgb, var(--amberYellow) 25%, transparent);

  --soft-shadow: 2px 2px 2px #0000004d;
}

/* - - - - - 📌 SETUP */

html {
  font-size: 16px;
}

body,
.fullscreen {
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.fullscreen.fullscreen-enabled {
  overflow: auto;
  padding-top: 2rem;
}

/* - - - - - 📌 TYPOGRAPHY */

h1,
h2,
h3 {
  font-family: var(--headings-font);
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 0.3pt;
}
h1 {
  font-size: xx-large;
}
h2 {
  width: fit-content;
  font-size: x-large;
  border-bottom: 1px dashed;
}
h3 {
  width: fit-content;
  font-size: 1.4rem;
  border-bottom: double;
  padding-top: 1rem;
}

p {
  font-size: large;
  text-align: justify;
  margin-bottom: 1rem;
}
p.--bulleted::before {
  content: '⇢';
  padding-right: 0.5rem;
}

a {
  color: var(--accentSecondary);
  text-decoration: underline 1px solid;
  text-decoration-skip-ink: all;
  transition: all 0.3s ease;
}

em {
  text-decoration: underline 1px solid;
  text-decoration-skip-ink: all;
}

.subheading {
  text-transform: uppercase;
  position: relative;
  bottom: 1rem;
  font-size: larger;
  font-weight: 300;
  margin-bottom: -0.5rem;
}

.code {
  font-family: var(--mono-font);
  font-size: medium;
}

.highlight {
  background: var(--higlightBg);
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--amberYellow);
}

/* - - - - - 📌 LAYOUT */

.layoutContainer {
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layoutButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.layoutButton svg {
  width: 1rem;
  height: 1rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--soft-shadow);
  transition: background 0.3s ease;
}

.largeButtonContainer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.largeButton {
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.largeButtonIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.imageContainer {
  max-width: 100%;
  width: fit-content;
  padding: 0.5rem 2rem 1.5rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.pageFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageFooter p {
  padding: 0 2rem;
  text-align: center;
  margin: unset;
}
.pageFooter .copyright {
  font-size: medium;
}

.codeLine {
  margin-bottom: 1.5rem;
  padding: 0.25rem 1rem;
  font-family: var(--mono-font);
  opacity: 0.9;
}

img {
  max-width: 100%;
}

/* - - - - - 📌 AUX */

.tightWrapper {
  width: fit-content;
}

.fullWrapper {
  width: 100%;
}

.doubleDivider {
  height: 0.5rem;
  border-bottom: 1px dashed;
  border-top: 1px solid;
}

.dashedDivider {
  height: 1px;
  border-bottom: 1px dashed;
}

.verticalSpacer {
  height: 1rem;
}

.verticalSpacer--sm {
  height: 0.5rem;
}

.--paddingLeft {
  padding-left: 1.5rem;
}

/* - - - - - 📌 @MEDIA */

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: translateY(2px);
    box-shadow: none;
  }

  a:hover {
    color: unset;
  }
}

/* mobile */

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  p {
    text-align: left;
  }

  .layoutContainer {
    padding: 1rem 1.5rem 0;
  }

  .imageContainer {
    padding: 0.5rem 0 1.5rem 0;
  }

  .largeButtonContainer {
    flex-direction: row;
  }
}
