@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* - - - - - 📌 VARIABLES */

:root {
  --mono-font: 'Fira Code', 'Consolas', 'Monaco', monospace;

  --black--opacity30: #0000004d;
  --soft-shadow: 2px 2px 2px var(--black--opacity30);
}

/* - - - - - 📌 SETUP */

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* - - - - - 📌 TYPOGRAPHY */

h1,
h2,
h3 {
  margin-bottom: 1rem;
  letter-spacing: 0.3pt;
  font-weight: 400;
}
h1 {
  font-size: xx-large;
}
h2 {
  width: fit-content;
  font-size: x-large;
  border-bottom: 1px dashed;
}
h3 {
  width: fit-content;
  font-size: 1.4rem;
  border-bottom: double;
  padding-top: 1rem;
}
p {
  font-size: large;
  text-align: justify;
  margin-bottom: 1rem;
}
p.--bulleted::before {
  content: '⇢ ';
}
.subheading {
  text-transform: uppercase;
  position: relative;
  bottom: 1rem;
  font-size: larger;
  font-weight: 300;
  margin-bottom: -0.5rem;
}

/* - - - - - 📌 LAYOUT */

.layout-container {
  width: 100%;
  max-width: 60rem;
  padding: 2rem 2rem 0 2rem;
}

.layout-buttons-container {
  display: flex;
  gap: 0.75rem;
  top: 1rem;
  position: absolute;
  right: 1rem;
}

.layout-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.layout-button svg {
  width: 1rem;
  height: 1rem;
}

.large-button-container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.large-button {
  padding: 0.5rem 1rem;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.large-button-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.image-container {
  max-width: 100%;
  width: fit-content;
  padding: 0.5rem 2rem 1.5rem 2rem;
  margin: 0 auto;
}

.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer p {
  padding: 0 2rem;
  text-align: center;
  margin: unset;
}
.page-footer .title {
  text-transform: uppercase;
  margin-right: 0.25rem;
}
.page-footer .copyright {
  font-size: medium;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: var(--soft-shadow);
}

.code-line {
  margin-bottom: 1.5rem;
  padding: 0.25rem 1rem;
  font-family: var(--mono-font);
  opacity: 0.9;
}

img {
  max-width: 100%;
}

/* - - - - - 📌 AUX */

.wrapper {
  width: fit-content;
}

.double-divider {
  height: 0.5rem;
  border-bottom: 1px dashed;
  border-top: 1px solid;
}

.dashed-divider {
  height: 1px;
  border-bottom: 1px dashed;
}

.vertical-spacer {
  height: 1rem;
}

.vertical-spacer--sm {
  height: 0.5rem;
}

.--padding-left {
  padding-left: 1.5rem;
}

/* - - - - - 📌 @MEDIA */

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    transform: translateY(1px);
    box-shadow: none;
  }
}

/* mobile */

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  p {
    text-align: left;
  }

  .layout-container {
    padding: 1rem 1.5rem 0;
  }

  .layout-buttons-container {
    top: 2.5rem;
  }

  .image-container {
    padding: 0.5rem 0 1.5rem 0;
  }
}
