.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  width: 30rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 0.25rem solid var(--orange);
  box-shadow: var(--soft-shadow);
  font-size: large;
}

.icon svg {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 767px) {
  .container {
    margin: 2rem 0;
  }

  .card {
    width: 100%;
    gap: 1rem;
  }
}
