.colorBox {
  padding: 1rem;
  border: 0.125rem solid;
  box-shadow: var(--soft-shadow);
}

.colorBox strong {
  font-weight: 500;
  text-decoration: underline 1px;
}

.colorBox p {
  font-size: medium;
  text-align: left;
}

.colorBox p:last-of-type {
  margin-bottom: unset;
}
