.color-box {
  padding: 1rem;
  border: 0.25rem solid;
  box-shadow: var(--soft-shadow);
}

.color-box strong {
  font-weight: 500;
  text-decoration: underline 1px;
}

.color-box p {
  font-size: medium;
  text-align: left;
}

.color-box p:last-of-type {
  margin-bottom: unset;
}
