.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  width: 30rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: var(--orange);
  box-shadow: var(--soft-shadow);
  color: var(--dark);
  font-size: large;
}

.icon svg {
  width: 3rem;
  height: 3rem;
}
