.video-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.video-container.open {
  max-height: 35rem;
  opacity: 1;
}

.iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
