.boxes-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 1rem;
}

.boxes-grid > *:nth-child(2) {
  grid-row: span 2;
}

@media (max-width: 767px) {
  .boxes-grid {
    grid-template-columns: 1fr;
  }

  .boxes-grid > *:nth-child(2) {
    order: 2;
    grid-row: unset;
  }

  .boxes-grid > *:nth-child(3) {
    order: 1;
  }
}
