.boxes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1.5rem 0;
}

.boxes-grid > *:last-child {
  grid-column: span 3;
}

@media (max-width: 767px) {
  .boxes-grid {
    grid-template-columns: 1fr;
  }

  .boxes-grid > *:last-child {
    grid-column: unset;
  }
}
