.grid-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1.25fr 2fr;
  gap: 1rem 2rem;
  margin-top: 1.5rem;
}

.grid-container p {
  font-size: medium;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .grid-container p {
    font-size: large;
  }
}
