h1 {
  color: var(--accentPrimary);
}
h2 {
  border-bottom-color: var(--accentSecondary);
}

.button {
  color: var(--fg);
  background: var(--accentPrimaryDeep);
}

.imageLabel {
  opacity: 0.75;
  font-style: italic;
}

.pageFooter .title {
  color: var(--accentPrimary);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--accentPrimary);
  }
}
